<div class="row ms-3 mt-5 mb-4">

  <h3>Empleados</h3>
  <hr>
</div>


<div class="ms-3">
  <button class="btn btn-warning" (click)="gotoAltas()" ><i class="bi bi-plus-circle"></i> Nuevo</button>
</div>

<div class="row mt-3 ms-3">

  <table class="table table-light  table-striped">
    <thead>
      <tr>
        <th class="table-dark">id</th>
        <th class="table-dark">Nombre</th>
        <th class="table-dark">Apellido</th>
        <th class="table-dark">Pais</th>
        <th class="table-dark">Opciones</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let employee of employees">
        <th>{{ employee.id}}</th>
        <td>{{ employee.human.name }}</td>
        <td>{{ employee.human.lastname }}</td>
        <td>{{ employee.human.country }}</td>
        <td>
          <div class="btn-group">

            <button class="btn btn-warning" (click)="editProduct(employee.id)" ><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger" (click)="deleteProduct(employee.id)"><i class="bi bi-trash"></i>
            </button>
          </div>
        </td></tr>

    </tbody>
    </table>


</div>
