<div class="container-fluid">

  <div class="row header bg-primary ">
    <div class="col mt-4">
      <div class="ms-3 ">
        <h3 routerLink="/inicio">MobileStore</h3>
      </div>
    </div>
    <div class="col col mt-4 text-end  ">
      <!-- {{ userLogged?.isLogged }}-  {{ userLogged?.rol?.name }} -->
      <button *ngIf="!userLoginOn" routerLink="/login" class="btn btn-outline-light me-2">login</button>
      <!-- <button *ngIf="userLoginOn" (click)="logout()" class="btn btn-outline-light ms-2 me-2">{{ userData.username }}&nbsp;<i class="bi bi-box-arrow-right"></i></button> -->

        <button *ngIf="userLoginOn" class="btn  btn-outline-light me-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{ userData.username }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>

      <button *ngIf="true"  routerLink="/carrito"   class="btn btn-outline-light position-relative me-3" >
        Mi <i class="bi bi-cart4"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ 0 }}
        </span>
      </button>
    </div>

  </div>

</div>

