<div class="card card-over mb-2 text-center">
  <div class="card-body text-white">
    <img [src]="product.image" class="img-thumbnail " (click)="showProduct(product.id)"
      class="img-thumbnail rounded mx-autio d-block">
      <app-favorite-social-bar [product]="product"></app-favorite-social-bar>
  </div>
  <div class="card-text">
    <div (click)="showProduct(product.id)">
      <h6>{{ product.brand?.brandname | uppercase}} {{ product.name | titlecase}}</h6>
    </div>
    <div class="text-dark" style="font-size:1.0rem">
      <div *ngIf="!product.isOffer" style="font-weight: bold; font-size: 1.5rem">MX{{ product.price |currency}}</div>
      <div *ngIf="product.isOffer"><span style="text-decoration:line-through; color: gray;"> MX{{ product.price
          |currency}}</span> <span class="ms-2 badge bg-promo text-dark">Oferta</span><br>
        <span style="font-weight: bold; font-size: 1.5rem; color: red"> MX{{ product.offerPrice |currency}}</span>
      </div>

      <button (click)="addItem()" class="btn btn-success btn-rounded  mt-2 mb-2"style="width: 65%;">
        Agregar
      </button>

    </div>
  </div>
</div>
