

<div class="container mb-3">

  <!-- <h3 style="color: #1c244d">Pagina no encontrada ( e404 )</h3>
  <hr> -->
  <div class="row ms-3  mt-2">

    <!-- Es posible que la pagina que estas buscando ya no exista o este en mantenimiento. -->
    <div class="text-center text-danger" >
      <!-- <h2>Pagina no encontrada.</h2> -->
      <img src="/assets/images/e404_2.png" style="max-width: 700px" alt=""><br>
    Es posible que la pagina que estas buscando ya no exista o este en mantenimiento.

    </div>

  </div>



  </div>
