<nav class="navbar navbar-expand-lg  navbar-dark " style="background-color:#e5e1e1">
  <div class="container-fluid col-sm-10 offset-lg-1  " style="border-radius: 30px;  background-color: #f1403f">
    <a class="navbar-brand" routerLink="/productos/en-oferta">{{ titleBar }}<i class="bi bi-caret-left-fill"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"><i class="bi bi-house-door"></i> Inicio</a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link active" aria-current="page" href="/productos/por-categoria/{{category.id}}">{{ category.name |titlecase }}</a>
        </li>


        <!-- <li class="nav-item dropdown me-5">
          <a class="nav-link active" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i> Mas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/productos/en-oferta">Ofertas</a></li>
            <li><a class="dropdown-item" href="/mis-favoritos">Favoritos</a></li>
          </ul>
        </li> -->

        <li *ngIf="!userLoginOn" class="nav-item dropdown ms-4 mt-1 mb-1 me-1">
          <a class="btn btn-outline-light btn-sm" (click)="login()" id="navbarLogin" role="button">
            Login <i class="bi bi-box-arrow-in-right"></i>
          </a>
        </li>
        <li *ngIf="userLoginOn" class="nav-item dropdown  ms-4 me-3">
          <a class="btn btn-outline-light btn-sm mt-1 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ userData.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/perfil"><i class="bi bi-person-fill"></i> Mi Perfil</a></li>
            <li><a class="dropdown-item" routerLink="/mis-favoritos"><i class="bi bi-heart"></i> Favoritos</a></li>
            <li><a class="dropdown-item" routerLink="/mis-compras"><i class="bi bi-bag-check-fill"></i> Mis Compras</a></li>
            <li><a class="dropdown-item" routerLink="/mi-carrito"><i class="bi bi-cart4"></i> Mi Carrito</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item"  (click)="logout()"><i class="bi bi-door-closed"></i> Cerrar Sesión</button></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
