<div class="pt-3 mt-1 pb-3 ps-3 pe-3"
  style="border:1px solid #d1cccc; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
  <div class="ps-2" style="background-color: {{order.orderstatus.bgColor}};">
    {{order.orderstatus.name}}<span class="procesing-status" style="color: {{order.orderstatus.dotColor}}">●</span>
  </div>
  <hr>
  <h5 class="mb-4">Total de la compra</h5>
  <div class="free">
    <span class="subtotal">Sub Total </span>
    <span class="cantidad-detalle">{{ order.total | currency }}</span>
  </div>
  <div class="free">
    <span class="tipo-envio"><span style="font-size: .8rem">TipoEnvio:</span><br>Entregar en: domicilio</span>
    <span class="cantidad-detalle"> $ 0.00</span>
  </div>
  <div class="free" style="border-top:1px solid black">
    <span class="subtotal">Total</span>
    <span class="total">{{ order.total | currency }}</span>
  </div>
  <!-- <hr>
  Fecha de entrega: 15/02/2023
  <hr> -->



</div>
