<div class="container mb-5">

  <div class="row mb-4">

    <div class="d-flex">
      <h3>Historial de Compras</h3>

    </div>


    <div class="row mt-1 ms-3">


      <div class="table-responsive">

        <table id='table' datatable class="table table-light  table-striped">
          <thead>
            <tr>

              <th class="table-dark">Fecha</th>
              <th class="table-dark">Total</th>
              <th class="table-dark">Tipo De Envio</th>
              <th class="table-dark">Status</th>
              <th class="table-dark">Opciones</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let p of orders">
              <td>{{p.date}}</td>
              <td>{{ p.total | currency }}</td>
              <td>{{ p.shippingType.shippingType| titlecase}}</td>
              <td>{{ 'procesando'| titlecase}}</td>
              <td style="text-align:center">

                <button class="btn btn-sm btn-warning" data-bs-toggle="tooltip" data-bs-placement="right" [routerLink]="['/admin/ordenes/', p.id ]"
                  title="Ver Detalles"><i class="bi bi-list-columns" alt="Ver Detalles"></i></button>

              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <div>



      </div>

    </div>










  </div>
</div>
