
<app-product [product]="product"></app-product>


<div class="row mt-5">
  <h3>Productos Sugeridos</h3>
  <div _ngcontent-ng-c873644069="" class="col-md-3 col-sm-6 mt-3">
    <div _ngcontent-ng-c873644069="" class="card card-over mb-2 text-center"><div _ngcontent-ng-c873644069="" class="card-body text-white"><img _ngcontent-ng-c873644069="" class="img-thumbnail rounded mx-autio d-block" src="https://cdn1.coppel.com/images/catalog/pm/2814673-1.jpg"></div><div _ngcontent-ng-c873644069="" class="card-text"><div _ngcontent-ng-c873644069=""><h6 _ngcontent-ng-c873644069="">LENOVO Tablet Lenovo Tab M10 (3ra Gen) 10.1" 3gb Ram 32gb, Memoria Expandible, Android 11</h6></div><div _ngcontent-ng-c873644069="" class="text-dark" style="font-size: 1.0rem;"><div _ngcontent-ng-c873644069="" style="font-weight: bold; font-size: 1.5rem;">MX$4,599.00</div>
    <button _ngcontent-ng-c873644069="" class="btn btn-success mt-2 mb-2" style="width: 65%; --bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .8rem; border-radius: 25px;"> Agregar</button></div></div></div>
  </div>
  <div _ngcontent-ng-c873644069="" class="col-md-3 col-sm-6 mt-3">
    <div _ngcontent-ng-c873644069="" class="card card-over mb-2 text-center"><div _ngcontent-ng-c873644069="" class="card-body text-white"><img _ngcontent-ng-c873644069="" class="img-thumbnail rounded mx-autio d-block" src="https://cdn1.coppel.com/images/catalog/pm/2003713-1.jpg?iresize=width:300,height:240"></div><div _ngcontent-ng-c873644069="" class="card-text"><div _ngcontent-ng-c873644069=""><h6 _ngcontent-ng-c873644069="">SAMSUNG Celular Samsung Galaxy S23 Ultra 12 Gb 256 Gb 5 G Crema</h6></div><div _ngcontent-ng-c873644069="" class="text-dark" style="font-size: 1.0rem;"><div _ngcontent-ng-c873644069="" style="font-weight: bold; font-size: 1.5rem;">MX$23,999.00</div>
    <button _ngcontent-ng-c873644069="" class="btn btn-success mt-2 mb-2" style="width: 65%; --bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .8rem; border-radius: 25px;"> Agregar</button></div></div></div>
  </div>
  <div _ngcontent-ng-c1573483466="" class="col-md-3 col-sm-6 mt-3">
    <div _ngcontent-ng-c1573483466="" class="card card-over mb-2 text-center"><div _ngcontent-ng-c1573483466="" class="card-body text-white"><img _ngcontent-ng-c1573483466="" class="img-thumbnail rounded mx-autio d-block" src="https://cdn1.coppel.com/images/catalog/pm/2122543-1.jpg"></div><div _ngcontent-ng-c1573483466="" class="card-text"><div _ngcontent-ng-c1573483466="" style="font-weight: bold; font-size: 1.5rem;">MX$5,949.00</div>
    <div _ngcontent-ng-c1573483466="" class="text-dark" style="font-size: 1.0rem;"> MX$5,949.00<br _ngcontent-ng-c1573483466=""><button _ngcontent-ng-c1573483466="" class="btn btn-success pb-1 mt-2 mb-2" style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .8rem; border-radius: 25px;"> Agregar</button></div></div></div>
  </div>

  <div _ngcontent-ng-c3832465477="" class="col-md-3 col-sm-6 mt-3">
    <div _ngcontent-ng-c3832465477="" class="card card-over mb-2 text-center">
      <div _ngcontent-ng-c3832465477="" class="card-body text-white"><img _ngcontent-ng-c3832465477=""
          class="img-thumbnail rounded mx-autio d-block"
          src="https://cdn1.coppel.com/images/catalog/pm/2795193-1.jpg?iresize=width:300,height:240"></div>
      <div _ngcontent-ng-c3832465477="" class="card-text">
        <div _ngcontent-ng-c3832465477="">
          <h6 _ngcontent-ng-c3832465477="">OPPO Aura Z</h6>
        </div>
        <div _ngcontent-ng-c3832465477="" class="text-dark" style="font-size: 1.0rem;"> MX$1,900.00<br
            _ngcontent-ng-c3832465477=""><button _ngcontent-ng-c3832465477="" class="btn btn-success mt-2 mb-2"
            style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">
            Agregar</button></div>
      </div>
    </div>
  </div>
