.bd-highlight {
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.15);
}
.header-item-list{
  background-color: #fbf3e9;
  
  border-top: 1px solid #D4C19C;
  border-left: 1px solid #D4C19C;
  border-right: 1px solid #D4C19C;
}
