<div class="row ms-3 mt-5 mb-4">

  <h3>Categorias</h3>
  <hr>
</div>

<div class="row mt-4 ms-3">

  <div *ngIf="showError" class="alert alert-warning">{{ errorMessage }}</div>
  <div id="formProduct" *ngIf="showForm">
    <div class="row mt-3 ms-3">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="formId" class="form-label">Id</label>
          <input class="form-control" type="text" [(ngModel)]="category.id" disabled id="formId">
        </div>

        <div class="mb-3">
          <label for="formName" class="form-label">Nombre</label>
          <input class="form-control" [(ngModel)]="category.name" type="text" id="formName">
        </div>
        <div class="ms-1">

          <label class="form-check-label" for="flexSwitchCheckChecked">Habilitado</label>
          <input class="form-check-input form-check form-switch" readonly type="checkbox"
            [(ngModel)]="category.isEnabled" role="switch" id="flexSwitchCheckChecked" [checked]="category.isEnabled">
        </div>
      </div>
      <div class="col-md-6 ">

        <div class="col-md-12 pe-3" astyle="width: 100%;height:300px; border:1px rgb(139, 138, 138) solid">

          <!-- <button class="btn btn-primary mt-4" (click)="saveProduct()">Grabar Registro</button> -->
          <!-- Button trigger modal -->
          <br>
          <button type="button" [disabled]="!category.name || wasSaved" (click)="save()" class="btn btn-success me-2 mt-2">Grabar
            Categoria</button>
          <button type="button" routerLink="/admin/categorias" class="btn btn-secondary  mt-2">Ver todas las
            Categorias</button>
        </div>
      </div>

    </div>
  </div>


</div>
