<div class="pt-3 mt-1 pb-3 ps-3 pe-3"
  style="border:1px solid #d1cccc;  border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">

  <h5 class="mb-4">Detalle de la compra</h5>
  <div class="free">
    <span class="subtotal">Sub Total </span>
    <span class="cantidad-detalle">{{ cart.total | currency }}</span>
  </div>
  <div class="free">
    <span class="subtotal">Envio</span>
    <span class="cantidad-detalle"> $ 0.00</span>
  </div>
  <div class="free" style="border-top:1px solid black">
    <span class="subtotal">Total</span>
    <span class="total">{{ cart.total | currency }}</span>
  </div>
  <!-- <div *ngIf=" (cart.totalAbs != cart.total)" class="free mt-2">
    <span class="cantidad-ahorro">Usted Ahorra</span>
    <span class="cantidad-ahorro"> {{ (cart.totalAbs - cart.total) | currency }}</span>
  </div> -->
  <div *ngIf="userData.id>0" class="d-grid gap-2 mt-3 mb-3"><button [disabled]="cart.total<=0"  (click)="clickButton()" class="btn btn-success"
      style="border-radius: 25px;">Continuar</button>
  </div>
  <div *ngIf="userData.id<1 || userData.id==null" class="d-grid gap-2 mt-3 mb-3"><button [disabled]="cart.total<=0"  (click)="gotoLogin()" class="btn btn-primary"
    style="border-radius: 25px;">LogIn</button>
</div>
</div>
