<div class="container ">

  <div class="row mb-4">

    <h3>Detalles de la compra  </h3><hr>
  </div>
  <div class="d-grid gap-2 mt-2 mb-3"><button class="btn btn-success" [routerLink]="['/mis-compras']"
    routerLinkActive="router-link-active">Detalle de la Orden [ {{order.id}} ]</button></div>
  <div class="row mt-5 ms-3" *ngIf="order.id>0">
    <div class="col-lg-8">


      <app-purchase-item [item]="item" [i]="i" *ngFor="let item of order.orderproducts; let i = index"></app-purchase-item>


    </div>
    <div class="col-lg-4 ">
      <app-purchase-total [order]="order" ></app-purchase-total>



    </div>
  </div>

  <div class="container " *ngIf="order.id== null">
    <div class="alert alert-danger" role="alert">Esta orden no se encontró en la base de datos.</div>
  </div>

</div>
