.price{
  text-align: right;
  color:brown;
  font-size: 1.5rem;
}
.envio{
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}


.rounded-left{
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  height: 35px;
}
.rounded-right{
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  height: 35px;
}
