

<div class="container mb-5">

  <div class="row ms-3 mt-3 mb-4">

    <h3>Dashboard</h3>
  </div>

  <div class="row mt-5 ms-3">


      <!-- <div classe="col-md-3 col-sm-6 mt-3" classe="d-flex flex-row"> -->
        <div class="card me-3 pt-3 col-md-3 col-sm-6 " routerLink="/admin/clientes" style="width: 15rem; cursor: pointer">
          <div class="card-body">
            <i class="bi bi-graph-down h2 p-2 bg-primary text-white"></i>

            <!-- <i class="fas fa-line-chart fa-2x p-4 text-white bg-primary"></i> -->
            <div class="mt-4 lead">Clientes</div>
            <h2 class="card-title" style="font-size:1.8em;">{{widgets.totalCustomers}}</h2>
            <button class="btn btn-flat btn-sm mt-2 btn-primary ms-auto">Ver todos los clientes <i class="bi bi-caret-right-fill"></i></button>
          </div>
        </div>

        <div class="card me-3 pt-3 col-md-3 col-sm-6 " routerLink="/admin/productos" style="width: 15rem; cursor: pointer">
          <div class="card-body">
            <i class="bi bi-graph-down h2 p-2 bg-warning text-white"></i>
            <!-- <i class="fas fa-line-chart fa-2x p-4 bg-warning"></i> -->
            <div class="mt-4 lead">Productos</div>
            <h2 class="card-title" style="font-size:1.8em;">{{widgets.totalProducts}}</h2>
            <button class="btn btn-flat btn-sm mt-2 btn-warning ms-auto" >Ver los productos <i class="bi bi-caret-right-fill"></i></button>
          </div>
        </div>

        <div class="card me-3 pt-3 col-md-3 col-sm-6 " routerLink="/admin/ordenes" style="width: 15rem; cursor: pointer">
          <div class="card-body">
            <i class="bi bi-graph-down h2 p-2 bg-success text-white"></i>
            <!-- <i class="fas fa-line-chart fa-2x p-4 bg-success text-white"></i> -->
            <div class="mt-4 lead">Ordenes sin procesar</div>
            <h2 class="card-title" style="font-size:1.8em;">{{widgets.totalOrders}}</h2>

            <button class="btn btn-flat btn-sm mt-2 btn-success ms-auto" >Ver todas las ordenes <i class="bi bi-caret-right-fill"></i></button>
          </div>
        </div>

<!--
        <div class="card me-3 col-md-3 col-sm-6 " style="width: 25rem">
          <div class="card-body p-0">
            <div class="pane py-2 px-3 border-bottom">
              <div>
                <h2 class="card-title mb-3 mt-0 lead">Ultimas Ordenes</h2>

              </div>
            </div>
            <div class="pane py-2 px-3 border-bottom">
              <div>
                <h2 class="card-title mb-3 mt-0 h6">Invoice #120345</h2>
                <p class="text-muted">Billed August 21, 2019</p>
              </div>
              <button class="btn btn-flat btn-sm btn-outline-success ms-auto">
                Pay now
              </button>
            </div>
          </div>
        </div> -->


    <!-- </div> -->
  </div>
</div>
